#left_nav {
    width: 200px;
    float: left;
    text-align: left;
}

a{
    color: rgb(230,230,230);
    text-align: left;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: arial;
}

a:hover{
    color: rgb(25,25,25);
    background-color: rgb(230,230,230);
}

#main_article {
    margin: 0 auto;
}

#article_frame {
    width: 1150px;
    border-width: 0px 0px 0px 0px;
    margin: 0 auto;
    text-align: center;
    border: none;
    overflow: hidden;
}