html,body
{
    font-family: malgungothic;
    text-align: center;
}

#main_header
{
    width: 100%;
    text-align: center;
    color: blue;
}

#head_nav
{
    text-align: center;
}

#head_nav_icon
{
    height: 200px;
    width: 300px;
    background-color: aquamarine;
}

#main_frame
{
    margin: 0 auto;
    text-align: center;
}