html,body
{
    font-family: malgungothic;
    text-align: center;
}

#main_header
{
    height: 85px;
    width: 100%;
    text-align: center;
}

#title
{
    float: left;
    margin-top: 0px;
    font-family: Arial;
}

#head_nav
{
    text-align: center;
    position: absolute; 
    left: 50%; 
    margin: 0 0 0 -670px;
}

#title
{
    cursor: pointer;
}

#head_nav_icon
{
    height: 20px;
    width: 180px;
    padding: 20px;
    margin-top: 0px;
    text-align: center;
    background-color: aquamarine;
}

#head_nav_icon:hover
{
    height: 20px;
    width: 180px;
    padding: 20px;
    margin-top: 0px;
    text-align: center;
    cursor: pointer;
    background-color: greenyellow;
}

#main_page
{
    margin: 0 auto;
}

#main_frame
{
    width: 1370px;
    border: 0 auto;
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
}